<template>

        
        <!-- <span id="fromFormSearch" style="visibility: hidden"></span> -->
        

            <tr>
                <td>01</td>
                <td class="cus-table-location-name-details">
                    <a href="#">
                        <img src="https://unsplash.imgix.net/photo-1422022098106-b3a9edc463af?w=1024&amp;q=50&amp;fm=jpg&amp;s=bbe0beb19ba846e0de37abd1f63acf13" height="128" width="128">
                    </a>
                    <h4><a href="#">@{{ $c.location_name }} @{{ loc.location_name_bangla }}</a></h4>
                    <p>
                        <strong>Division:</strong> <a href="#">@{{ loc.division.division_name }}</a><br>

                        <strong>District:</strong> <a href="#">@{{ loc.district.district_name }}</a><br>

                        <strong>Upazila:</strong> <a href="#">@{{ loc.upazila.upazila_name }}</a><br>

                        <strong>Distance:</strong> <a href="#">@{{ 
                                                loc.distance
                                                }} KM</a><br>
                        <a href="#" class="btn btn-sm btn-default"><i class="fa fa-map-marker fa-lg"></i> View Map</a>
                    </p>
                </td>
                <td><a href="#">@{{ loc.location_type }}</a></td>
                <td class="text-center cus-table-transport">
                                        <!-- Bus, Plane -->
                    <i class="fa fa-bus fa-lg active"></i>
                    <i class="fa fa-train fa-lg"></i>
                    <i class="fa fa-ship fa-lg"></i>
                    <i class="fa fa-plane fa-lg"></i>
                </td>
                <td class="cus-table-cost">
                    <span class="cus-cost"><i class="fa fa-money fa-lg"></i> 
                                        @{{loc.cost_transport+loc.cost_accommodation}}/-</span>
                    <hr>
                    <em>Living: @{{loc.cost_accommodation}}/- (Per Night)<br>
                        Transport: @{{loc.cost_transport}}/-</em>
                </td>
                <td class="cus-table-ratting">
                    <div id="hearts-existing" class="starrr" data-rating="4"></div>
                </td>
                <td class="text-center">
                    <a href="#" class="btn btn-sm btn-success">View Details</a>
                </td>
               
            </tr>


</template> 


<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        props : ['locations']
    }
</script>