body,
html {
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.pagination > li > a,
.pagination > li > span,
a {
    color: #00B22D;
}
.pagination > li > a:hover,
/*.pagination > li > span:hover,*/
a:hover {
    color: #4cae4c;
}

.btn-register {
    background-color: #333;
    color: #FFF !important;
}

.btn-login {
    background-color: #000;
    color: #FFF !important;
}

table th {
    background-color: #F9F9F9;
    font-family: "Roboto", sans-serif;
}

table {
    border-top: 1px solid #EEE;
}

table thead tr th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

table tbody td {
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}

.cus-table-location-name-details {
    width: 400px;
    font-size: 14px;
}

.cus-table-location-name-details img {
    float: left;
    margin-right: 15px;
}

.cus-table-location-name-details h4 {
    margin: 0 0 5px;
    font-size: 15px;
    line-height: 1.2em;
}

.cus-table-location-name-details p a.btn {
    margin-top: 10px;
}

.cus-table-transport i.fa {
    -ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    /* IE8 */
    filter: alpha(opacity=20);
    /* IE5-7 */
    opacity: 0.2;
}

.cus-table-transport i.fa.active,
.cus-table-transport i.fa:hover {
    -ms-filter:  "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* IE8 */
    filter: alpha(opacity=100);
    /* IE5-7 */
    opacity: 1.0;
    cursor: pointer;
}

.cus-table-cost hr {
    margin: 5px 0;
}

.cus-table-cost em {
    font-size: 12px;
    color: #999;
}

.cus-table-ratting {
    width: 120px;
}

#hearts {
    color: #ee8b2d;
}

#hearts-existing {
    color: #ee8b2d;
}

.section-filter {
    margin: 10px 0 30px;
}

.section-filter .form-inline {
    margin-top: 30px;
}

footer {
    padding-bottom: 50px;
}

.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.slider.slider-horizontal {
    width: 210px;
    height: 20px;
}

.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}

.slider.slider-horizontal .slider-selection {
    height: 100%;
    top: 0;
    bottom: 0;
}

.slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: -5px;
}

.slider.slider-horizontal .slider-handle.triangle {
    border-width: 0 10px 10px 10px;
    width: 0;
    height: 0;
    border-bottom-color: #00B22D;
    margin-top: 0;
}

.slider.slider-vertical {
    height: 210px;
    width: 20px;
}

.slider.slider-vertical .slider-track {
    width: 10px;
    height: 100%;
    margin-left: -5px;
    left: 50%;
    top: 0;
}

.slider.slider-vertical .slider-selection {
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
}

.slider.slider-vertical .slider-handle {
    margin-left: -5px;
    margin-top: -10px;
}

.slider.slider-vertical .slider-handle.triangle {
    border-width: 10px 0 10px 10px;
    width: 1px;
    height: 1px;
    border-left-color: #00B22D;
    margin-left: 0;
}

.slider.slider-disabled .slider-handle {
    background-image: -webkit-linear-gradient(top,#dfdfdf 0,#bebebe 100%);
    background-image: -o-linear-gradient(top,#dfdfdf 0,#bebebe 100%);
    background-image: linear-gradient(to bottom,#dfdfdf 0,#bebebe 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf',endColorstr='#ffbebebe',GradientType=0);
}

.slider.slider-disabled .slider-track {
    background-image: -webkit-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);
    background-image: -o-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);
    background-image: linear-gradient(to bottom,#e5e5e5 0,#e9e9e9 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#ffe5e5e5',endColorstr='#ffe9e9e9',GradientType=0);
    cursor: not-allowed;
}

.slider input {
    display: none;
}

.slider .tooltip.top {
    margin-top: -36px;
}

.slider .tooltip-inner {
    white-space: nowrap;
}

.slider .hide {
    display: none;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);
    background-image: -o-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#f9f9f9 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
}

.slider-selection {
    position: absolute;
    background-image: -webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}

.slider-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #00B22D;
    background-image: -webkit-linear-gradient(top,#4cae4c 0,#00B22D 100%);
    background-image: -o-linear-gradient(top,#4cae4c 0,#00B22D 100%);
    background-image: linear-gradient(to bottom,#4cae4c 0,#00B22D 100%);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr= '#ff4cae4c',endColorstr='#ff00B22D',GradientType=0);
    filter:none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    opacity: 0.8;
    border: 0 solid transparent;
}

.slider-handle.round {
    border-radius: 50%;
}

.slider-handle.triangle {
    background: transparent none;
}

.slider-handle.custom {
    background: transparent none;
}

.slider-handle.custom::before {
    line-height: 20px;
    font-size: 20px;
    content: "\2605";
    color: #726204;
}

.slider {
    display: block;
    float: left;
    margin-left: 5px;
}

.valueLabel {
    display: block;
    float: left;
    margin-left: 15px;
}
.button-slider .btn:hover {
  background-color: #FFF !important;
  border-color: #CCC !important;
}



#gmap{

    width: 200%;
    height: 100%;
    border-radius: 0px; 
    z-index: 100;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {

    background-color: #5cb85c;
    border-color: #5cb85c;
}

#home_jumbo{
    
    min-height: 800px;
}

